.footer {
    &__container {
        padding: 20px 0;
    }

    &__information {
        display: flex;
        justify-content: space-between;

        li {
            font-weight: bold;
            font-size: 20px;
            text-transform: uppercase;
        }
    }
}